<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoList</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <form>
            <input type="search" placeholder="Search for make or model" class="carSearch">
        </form>
        <img src="./carlist.png" class="carImg">
        <button type="button" class="addCarBtn">
            <span class="carBtnText">Add Car</span>
            <span class="carBtnIcon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
        </button>
    </header>
    <div class="listOfCars">
        <% let displayedMakes = new Set(); %>

        <% cars.forEach(car => { %>
            <% if (!displayedMakes.has(car.make)) { %>
                <div class="carMakeDiv">
                    <h1 class="carMakeName"><%= car.make %></h1>
                    <img src="/images/<%= car.image %>" alt="<%= car.make %>" class="carImg">
                </div>
        <% displayedMakes.add(car.make); %>
    <% } %>
<% }) %>
    </div>
</body>
</html>